body {
  background-color: #313338;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  margin: 0;
}

/* الإيمبد */
.discord-embed {
  background-color: #2b2d31;
  width: 420px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  overflow: hidden;
}

/* الخط الجانبي مع صورة */
.discord-embed::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1453731332701159449/1474358753536250028/New_Ville_Roleplay_Officiel_V1.7.gif?ex=69998f17&is=69983d97&hm=52471458dfaf0974a78fd66ede9abf03428f7b3f71cd9745ce49cec951f058a7&"); /* بدل بالرابط ديالك */
  background-size: cover;
  background-position: center;
}

/* الهيدر تاع الإيمبد */
.embed-header {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 1; /* باش يبقى فوق الشريط */
}

.server-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.server-tag {
  font-size: 13px;
  color: #b5bac1;
}

/* المحتوى */
.embed-content {
  margin-top: 15px;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

hr {
  border: 0;
  height: 1px;
  background: #3f4147;
  margin: 15px 0;
}

/* زر */
button {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #5865f2;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #4752c4;
  transform: scale(1.05);
}

/* الصورة داخل Embed */
.server-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}